@media only screen and (max-width: 1199px) {
    .main-content {
        width: 95%;
    }

    .meteor-card__dropdown {
        margin: auto 0.5rem 0 auto;
        width: 2.5rem;
    }

    .meteor-card__bottom {
        margin: 0 2rem;
    }
}

@media only screen and (min-width: 1200px) {
    .main-content {
        width: 80%;
    }

    .meteor-card__dropdown {
        margin: auto 5rem 0 auto;
        width: 3.5rem;
    }

    .meteor-card__bottom {
        margin: 0 6rem;
    }
}

.main-filter {
    margin: 0 0 1rem auto;
}

.main-filter__input {
    margin-left: 1rem;

    outline: none;
    box-sizing: border-box;
    background-color: var(--dark-gray-background-color);
    border-color: var(--dark-gray-background-color);
    border-style: solid;
    border-width: 0.5rem;
    border-radius: 0.3rem;
    font-weight: 900;
    font-size: inherit;
    font-family: inherit;
    padding-left: 0.3rem;
    color: white;
}

.main-content {
    display: flex;
    flex-direction: column;
    margin: 5rem auto 0 auto;
}

.meteor-card {
    border-radius: 1rem;
    background: var(--dark-gray-background-color);
    margin-bottom: 1rem;
}

.meteor-card__top {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    min-height: 8rem;
}

.meteor-card__bottom {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.meteor-item-card {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0.5rem;
    min-height: 5rem;
}

.meteor-card__image, .meteor-item-card__image {
    background: var(--gray-background-color);
    border-radius: 1rem;
    image-rendering: pixelated;
}

.meteor-card__image-holder, .meteor-item-card__image-holder {
    display: flex;
    flex-direction: column;
    background: var(--gray-background-color);

    border-radius: 1rem;
}

.meteor-card__image-holder {
    padding: 1rem;
    height: 6rem;
    width: 6rem;
}

.meteor-item-card__image-holder {
    padding: 0.5rem;
    height: 4.25rem;
    width: 4.25rem;
}

.meteor-card__image {
    height: 100%;
    align-self: center;
}

.meteor-item-card__image {
    height: 100%;
    align-self: center;
}

.meteor-card__content, .meteor-item-card__content {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
}

.meteor-card__title {
    font-size: var(--default-font-size);
    color: var(--white-color);
    font-weight: 900;
    margin-bottom: 1rem;
}

.meteor-item-card__title {
    font-size: var(--even-smaller-font-size);
    margin-bottom: 0.25rem;
    color: var(--light-blue-highlight-color);
    font-weight: 900;
}

.meteor-card__info {
    font-size: var(--smaller-font-size);
    color: var(--white-color);
}

.meteor-item-card__info {
    font-size: var(--even-smaller-font-size);
    color: var(--white-color);
}

.meteor-card__info--highlight, .meteor-item-card__info--highlight {
    color: var(--light-blue-highlight-color);
}

.meteor-card__dropdown {
    cursor: pointer;
    background: none;
    border: none;
}

.meteor-card__dropdown--active {
    transform: rotate(180deg);
}

.meteor-card__dropdown-icon:hover {
    filter: brightness(140%);
}

.meteor-card__divider {
    background: var(--gray-background-color);
    margin: 0 1rem;
}

.--text-indent {
    padding-left: 1.0rem;
    text-indent: -1.0rem;
}

.no-result {
    font-size: var(--default-font-size);
    color: var(--white-color);
    font-weight: 900;
    margin: 5rem auto;
}
