@media only screen and (max-width: 1199px) {
    :root {
        font-size: 12px;
    }

    .logo {
        width: 6rem;
        margin: -0.5rem 1rem 0 1rem;
    }

    .header {
        height: auto;
    }

    .main-nav {
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    .main-nav__item:nth-last-child(1) {
        margin: 1rem 1rem 0 auto;
    }
}

@media only screen and (min-width: 1200px) {
    .logo {
        width: 8rem;
        margin: -0.5rem 1rem 0 5rem;
    }

    .header {
        height: 2.6rem;
    }

    .main-nav {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .main-nav__item:nth-last-child(1) {
        margin-right: 7rem;
    }
}

:root {
    color-scheme: light dark;
    --default-font-size: 1.625rem;
    --smaller-font-size: 1.25rem;
    --even-smaller-font-size: 1.125rem;
    --dark-gray-background-color: #121212;
    --gray-background-color: #242424;
    --light-blue-highlight-color: #7ab6e0;
    --white-color: #ffffff;
    --orange-color: #e95420;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: inherit;
    font-size: inherit;
}

@font-face {
    font-family: Roboto;
    src: url(font/Roboto-Black.ttf);
    font-weight: 900;
}

@font-face {
    font-family: Roboto;
    src: url(font/Roboto-Light.ttf);
    font-weight: 300;
}

body {
    margin: 0;
    padding: 0;
    font-size: var(--default-font-size);
    font-family: Roboto, sans-serif;
    font-weight: 300;
    background: var(--gray-background-color);
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.header {
    background: var(--dark-gray-background-color);
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    padding: 1rem 1rem;
}

.logo:hover, .logo.react:hover {
    filter: drop-shadow(0 0 1rem #aaaa00aa);
}

.main-nav {
    display: flex;
    flex-grow: 1;
}

.main-nav__item {
    color: var(--white-color);
    margin: 0 1rem 0 1rem;
}

.main-nav__item--highlight, .--highlight {
    color: var(--light-blue-highlight-color);
}

.--string-match {
    background-color: var(--orange-color);
    color: var(--white-color);
}

.main-nav__item--selected {
    font-weight: 900;
}

.main-nav__version-select {
    outline: none;
    box-sizing: border-box;
    background-color: var(--gray-background-color);
    border-color: var(--gray-background-color);
    border-style: solid;
    border-width: 0.2rem;
    border-radius: 0.3rem;
    font-weight: 900;
    font-size: inherit;
    font-family: inherit;
    padding-left: 0.3rem;
    color: white;
}

.error-card {
    border-radius: 1rem;
    background: var(--dark-gray-background-color);
    display: flex;
    flex-direction: column;

    min-width: 20rem;
    max-width: 50rem;
    margin: 5rem auto;
    padding: 1.5rem;
}

.error-card__title {
    font-size: var(--default-font-size);
    font-weight: 900;

    margin: 0 auto 0.5rem auto;
}

.error-card__message {
    font-size: var(--even-smaller-font-size);
    font-weight: 300;
    text-align: center;
    overflow: auto;

    margin: 0 auto;
}